#navbar {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 0em;
    height: 3em;
}

.navelem{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    transition: background-color 1000ms ease;
}

.navelem a{
    display: inline-block;
    height: 100%;
    width: 100%;
    text-align: center;
    padding-top: 2em;
}

a{
    text-decoration: none;
    color: black;
}


body{
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: auto;
    grid-template-areas: "header header header"
                         "nav nav nav"
                         "main main aside"
                         "footer footer footer";
}

header {
    grid-area: header;
    background-color: var(--col1);
    text-align: right;
    display: flex;
    flex-direction: row;
}

header h1{
    margin-left: 1.75em;
}

nav {
    grid-area: nav;
    background-color: var(--col2);
}

main{
    grid-area: main;
    background-color: var(--col3);
}

aside{
    grid-area: aside;
    background-color: var(--col4);
}

footer{
    grid-area: footer;
    background-color: var(--col5);
}

#textarea{
    width: 50em;
    height: 25em;
}

#blog{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

#blog div{
    padding-left: 4em;
    padding-right: 4em;
}

#blog div h3{
    margin: 0.5em;
}

#blog div p{
    margin: 0.5em;
    margin-top: 1em;
}

.h2{
    text-align: center;
    border-bottom: 0.05em white dashed;
    margin-top: 0.25em;
    margin-bottom: 0em;
}

.navelem:hover{
    background-color: red;
    height: 100%;
}

:root{
    --col1: #BEE2E7;
    --col2: #4F57AA;
    --col3: #454857;
    --col4: #72818B;
    --col5: #8F002E;
}